*,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.logo {
    float: left;
    display: inline-block;
    width: 160px;
    height: 53px;
    background-image: url(/img/logo.png);
    background-size: 160px 53px;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}

.wrapper_nav {
    width: 100%;
    background-color: #a46799;
    padding-bottom: 200px;
}

.main_nav {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}

.main_nav:after {
    content: ' ';
    display: block;
    clear: both;
}

.nav_ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
}

.nav_ul li:nth-child(1) a {
    color: white;
}

.nav_ul li a {
    transition: all 0.2s ease-out;
    color: #caa7c4;
}

.nav_ul li a:hover {
    transition: all 0.2s ease-out;
    color: white;
}

.wrapper_solutions {
    width: 100%;
}

.wrapper_opensource {
    width: 100%;
    background-color: #a46799;
}

.wrapper_customers {
    width: 100%;
}

.wrapper_sponsors {
    width: 100%;
    background-color: #fff4f2;
}

.wrapper_keep {
    width: 100%;
    background-color: #ff907f;
}

.wrapper_footer {
    width: 100%;
    background-color: #945989;
}







@media screen and (max-width:900px) {
    .nav {
        display: none;
    }
    .main_content {
        position: relative;
        top: 100px;
        width: 70%;
        color: white;
        margin: 0 auto;
    }

    .left_content {
        text-align: center;
        width: 100%;
        display: block;

    }

    .left_content:before {
        display: none;
    }

    .left_content h1 {
        font-size: 3.5rem;
        font-weight: lighter;
    }

    .left_content h2 {
        margin-top: 20px;
        font-weight: lighter;
        line-height: 40px;
        font-size: 1.5rem;
    }

    .right_content {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: 300px;
        background-image: url(/img/hero-illustration-dd98bdd1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main_opensource {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80%;
        margin: 0 auto;
    }

    .message_opensource {
        display: block;
        color: white;
        width: 90%;
        text-align: center;
        margin: 0px auto 50px;
    }

    .message_opensource h1 {
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .message_opensource p {
        font-size: 20px;
        line-height: 40px;
    }

    .message_opensource:before {
        content: ' ';
        display: none;
        width: 100px;
        height: 2px;
        background-color: #ff907f;
    }

    .image_opensource {
        background-image: url(/img/code-window-e67e93b7.jpg);
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_customers {
        padding-top: 120px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .main_customers h1 {
        text-align: center;
        color: #544f77;
        font-size: 2.5rem;
        font-weight: lighter;
        margin-bottom: 80px;
    }

    .content_customers {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .text_customers {
        width: 100%;
        font-size: 1rem;
        color: #544f77;
        margin-top: 70px;
    }

    .message_customers {
        padding-left: 50px;
        line-height: 37px;
        font-family: 'Montserrat', sans-serif;
    }

    .text_customers:before {
        content: ' ';
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
        left: 44px;
        bottom: 15px;
        background-image: url(/img/quotes.PNG);
        background-repeat: no-repeat;
    }

    .quotes_customers {
        color: #a46799;
        font-style: italic;
        font-size: 1.06667rem;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 52px;
    }

    .wrapper_sponsors {
        width: 100%;
        background-color: #fff4f2;
    }

    .main_sponsors {
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .image_sponsors {
        width: 100%;
        margin: 0 auto;
        height: 100px;
        background-image: url(/img/logos-5769db59.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .main_solutions {
        padding-top: 100px;
        padding-bottom: 30px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .main_solutions h1 {
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 70px;
    }

    .content_solutions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 100%;
        display: block;
    }

    .message {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        display: block;
        line-height: 27px;
        margin-bottom: 50px;
    }

    .message h2 {
        color: #544f77;
        font-weight: lighter;
        margin-bottom: 15px;
        font-size: 1.86667rem;
    }

    .message p {
        color: #a46799;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .image_solutions1 {
        height: 300px;
        background-image: url(/img/code-reviews-7f542a23.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .button_solutions {
        margin: 0 auto;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14px;
        background-color: #a46799;
        width: 150px;
        padding: 11px 5px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .button_solutions:hover {
        transition: all 0.2s ease-out;
        background-color: #ff907f;
        color: white;
    }

    .image_solutions2 {
        left: 10%;
        height: 300px;
        background-image: url(/img/automation-0e83545c.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        order: 1;
    }

    .message_solution2 {
        order: 2;
    }

    .image_solutions3 {
        height: 300px;
        background-image: url(/img/jungle-of-data-e0d67980.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .message_solution3 h2 {
        line-height: 40px;
    }

    .main_keep {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .main_keep h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 3.33333rem;
        font-weight: 400;
        text-align: center;
    }

    .button_keep a {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 16px 10px;
        line-height: 50px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        transition: all 0.2s ease-out;
    }

    .button_keep {
        padding-top: 40px;
        padding-bottom: 100px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .button_keep a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #a46799;
    }

    .content_keep {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .news_keep {
        width: 100%;
        background-color: white;
        padding: 40px 30px 10px 35px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .news_keep h2 {
        font-size: 1.73333rem;
        color: #a46799;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .lists_keep li,
    .lists_keep_twitter li {
        list-style-type: none;
        margin-bottom: 25px;
    }

    .lists_keep li a {
        color: #a46799;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep li a:hover {
        text-decoration: underline;
    }

    .lists_keep p {
        margin-top: 10px;
        font-size: 0.93333rem;
        color: #c6c5d2;
        font-weight: bold;
    }

    .logo_location_keep {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-image: url(/img/location.PNG);
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .text_keep {
        display: inline-block;
        width: 80%;
        margin-bottom: 10px;
    }

    .lists_keep_twitter p {
        color: #544f77;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep_twitter a {
        color: #c6c5d2;
        font-size: 0.93333rem;
    }

    .lists_keep_twitter a:hover {
        text-decoration: underline;
    }

    .main_footer {
        padding-top: 70px;
        padding-bottom: 100px;
        width: 90%;
        margin: 0 auto;
    }

    .content_footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Montserrat', sans-serif;
    }

    .content_footer > div {
        margin-bottom: 30px;
    }

    .info_footer1 {
        width: 100%;
        color: white;
    }

    .top_info_footer1 a {
        width: 200px;
        display: block;
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-out;
        margin: 10px auto;

    }
    .top_info_footer1 h4 {
        text-align: center;
    }

    .top_info_footer1 a:nth-child(2) {
        width: 150px;
    }

    .top_info_footer1 a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #945989;
    }

    .info_footer2,
    .info_footer3,
    .info_footer4 {
        width: 100%;
    }

    .info_footer2 ul li a,
    .info_footer3 ul li a,
    .info_footer4 ul li a {
        transition: all 0.2s ease-out;
        color: #ddc7d9;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_footer2 ul li,
    .info_footer3 ul li,
    .info_footer4 ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .info_footer2 h4,
    .info_footer3 h4,
    .info_footer4 h4 {
        color: white;
        margin-bottom: 20px;
    }

    .info_footer4 ul li:hover a,
    .info_footer3 ul li:hover a,
    .info_footer2 ul li:hover a {
        transition: all 0.2s ease-out;
        color: white;
    }

    .top_info_footer1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .bottom_info_footer1 p {
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom_info_footer1 a {
        color: #ff907f;
    }

    .bottom_info_footer1 a:hover {
        text-decoration: underline;
    }

    .bottom_info_footer1 {
        padding-top: 30px;
    }

    .logo_footer1 {
        margin-right: 10px;
        background-size: auto;
        width: 34px;
        height: 34px;
        background-position: center;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        transition: all 0.2s ease-out;
    }

    .logo_footer1:hover {
        transition: all 0.2s ease-out;
        background-color: #544f77;
    }

    .twitter_footer1 {
        background-image: url(/img/twitter.svg);
    }

    .youtube_footer1 {
        background-image: url(/img/youtube.svg);
    }

    .linkedin_footer1 {
        background-image: url(/img/lindken.svg);
    }

    .github_footer1 {
        background-image: url(/img/github.svg);
    }
}




@media screen and (min-width:900px) {

    .nav {
        display: none;
    }

    .main_content {
        position: relative;
        top: 100px;
        width: 70%;
        color: white;
        margin: 0 auto;
    }

    .left_content {
        text-align: center;
        width: 100%;
        display: block;
        height: 200px;
    }

    .left_content:before {
        display: none;
    }

    .left_content h1 {
        font-size: 4rem;
        font-weight: lighter;
    }

    .left_content h2 {
        margin-top: 20px;
        font-weight: lighter;
        line-height: 40px;
        font-size: 1.73333rem;
    }

    .right_content {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: 650px;
        background-image: url(/img/hero-illustration-dd98bdd1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    .main_opensource {
        padding-top: 50px;
        padding-bottom: 70px;
        width: 80%;
        margin: 0 auto;
    }

    .message_opensource {
        display: block;
        color: white;
        width: 75%;
        text-align: center;
        margin: 0px auto 100px;
    }

    .message_opensource h1 {
        font-size: 50px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .message_opensource p {
        font-size: 20px;
        line-height: 40px;
    }

    .message_opensource:before {
        content: ' ';
        display: none;
        width: 100px;
        height: 2px;
        background-color: #ff907f;
    }

    .image_opensource {
        background-image: url(/img/code-window-e67e93b7.jpg);
        width: 100%;
        height: 433px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_customers {
        padding-top: 120px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .main_customers h1 {
        text-align: center;
        color: #544f77;
        font-size: 2.5rem;
        font-weight: lighter;
        margin-bottom: 80px;
    }

    .content_customers {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .text_customers {
        width: 100%;
        font-size: 1rem;
        color: #544f77;
        margin-top: 70px;
    }

    .message_customers {
        padding-left: 50px;
        line-height: 37px;
        font-family: 'Montserrat', sans-serif;
    }

    .text_customers:before {
        content: ' ';
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
        left: 44px;
        bottom: 15px;
        background-image: url(/img/quotes.PNG);
        background-repeat: no-repeat;
    }

    .quotes_customers {
        color: #a46799;
        font-style: italic;
        font-size: 1.06667rem;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 52px;
    }

    .wrapper_sponsors {
        width: 100%;
        background-color: #fff4f2;
    }

    .main_sponsors {
        width: 70%;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .image_sponsors {
        width: 100%;
        height: 100px;
        background-image: url(/img/logos-5769db59.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .main_solutions {
        padding-top: 112px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .main_solutions h1 {
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 100px;
    }

    .content_solutions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 50%;

    }

    .message {
        width: 45%;
        text-align: left;
        position: relative;
        top: 200px;
        height: 200px;
        line-height: 27px;
    }

    .message h2 {
        color: #544f77;
        font-weight: lighter;
        margin-bottom: 15px;
        font-size: 1.86667rem;
    }

    .message p {
        color: #a46799;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .image_solutions1 {
        height: 500px;
        background-image: url(/img/code-reviews-7f542a23.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

    }

    .button_solutions {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        background-color: #a46799;
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .button_solutions:hover {
        transition: all 0.2s ease-out;
        background-color: #ff907f;
        color: white;
    }

    .message_solution1 {
        left: 80px;
    }

    .message_solution2 {
        width: 35%;
        left: 10%;
    }

    .image_solutions2 {
        position: relative;
        left: 10%;
        height: 500px;
        background-image: url(/img/automation-0e83545c.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    .image_solutions3 {
        height: 500px;
        background-image: url(/img/jungle-of-data-e0d67980.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .message_solution3 {
        left: 80px;
    }

    .message_solution3 h2 {
        line-height: 40px;
    }
    .main_keep {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .main_keep h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 3.33333rem;
        font-weight: 400;
        text-align: center;
    }


    .button_keep a {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 16px 25px;
        line-height: 50px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        transition: all 0.2s ease-out;
    }

    .button_keep {
        padding-top: 40px;
        padding-bottom: 100px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .button_keep a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #a46799;
    }

    .content_keep {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .news_keep {
        width: 35%;
        background-color: white;
        padding: 40px 30px 10px 35px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .news_keep h2 {
        font-size: 1.73333rem;
        color: #a46799;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .lists_keep li,
    .lists_keep_twitter li {
        list-style-type: none;
        margin-bottom: 25px;
    }

    .lists_keep li a {
        color: #a46799;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep li a:hover {
        text-decoration: underline;
    }

    .lists_keep p {
        margin-top: 10px;
        font-size: 0.93333rem;
        color: #c6c5d2;
        font-weight: bold;
    }

    .logo_location_keep {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-image: url(/img/location.PNG);
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .text_keep {
        display: inline-block;
        width: 80%;
        margin-bottom: 10px;
    }

    .lists_keep_twitter p {
        color: #544f77;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep_twitter a {
        color: #c6c5d2;
        font-size: 0.93333rem;
    }

    .lists_keep_twitter a:hover {
        text-decoration: underline;
    }

    .main_footer {
        padding-top: 100px;
        padding-bottom: 100px;
        width: 90%;
        margin: 0 auto;
    }

    .content_footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Montserrat', sans-serif;
    }

    .content_footer > div {
        margin-right: 40px;
    }

    .info_footer1 {
        width: 30%;
        color: white;
    }

    .top_info_footer1 a {
        width: 200px;
        display: block;
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        margin: 20px 0px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .top_info_footer1 a:nth-child(2) {
        width: 150px;
    }

    .top_info_footer1 a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #945989;
    }

    .info_footer2 {
        width: 27%;
    }

    .info_footer2 ul li a,
    .info_footer3 ul li a,
    .info_footer4 ul li a {
        transition: all 0.2s ease-out;
        color: #ddc7d9;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_footer2 ul li,
    .info_footer3 ul li,
    .info_footer4 ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .info_footer2 h4,
    .info_footer3 h4,
    .info_footer4 h4 {
        color: white;
        margin-bottom: 20px;
    }

    .info_footer3 {
        width: 10%;
    }

    .info_footer4 {
        width: 10%;
    }

    .info_footer4 ul li:hover a,
    .info_footer3 ul li:hover a,
    .info_footer2 ul li:hover a {
        transition: all 0.2s ease-out;
        color: white;
    }

    .top_info_footer1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .bottom_info_footer1 p {
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom_info_footer1 a {
        color: #ff907f;
    }

    .bottom_info_footer1 a:hover {
        text-decoration: underline;
    }

    .bottom_info_footer1 {
        padding-top: 30px;
    }

    .logo_footer1 {
        margin-right: 10px;
        background-size: auto;
        width: 34px;
        height: 34px;
        background-position: center;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        transition: all 0.2s ease-out;
    }

    .logo_footer1:hover {
        transition: all 0.2s ease-out;
        background-color: #544f77;
    }

    .twitter_footer1 {
        background-image: url(/img/twitter.svg);
    }

    .youtube_footer1 {
        background-image: url(/img/youtube.svg);
    }

    .linkedin_footer1 {
        background-image: url(/img/lindken.svg);
    }

    .github_footer1 {
        background-image: url(/img/github.svg);
    }


}


@media screen and (min-width:1050px) {

    .nav {
        display: none;
    }

    .main_content {
        position: relative;
        top: 100px;
        width: 70%;
        color: white;
        margin: 0 auto;
    }

    .left_content {
        text-align: center;
        width: 100%;
        display: block;
        height: 200px;

    }

    .left_content:before {
        display: none;
    }

    .left_content h1 {
        font-size: 4rem;
        font-weight: lighter;
    }

    .left_content h2 {
        margin-top: 20px;
        font-weight: lighter;
        line-height: 40px;
        font-size: 1.73333rem;
    }

    .right_content {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: 650px;
        background-image: url(/img/hero-illustration-dd98bdd1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .message_opensource {
        display: block;
        color: white;
        width: 75%;
        text-align: center;
        margin: 0px auto 100px;
    }

    .message_opensource h1 {
        font-size: 50px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .message_opensource p {
        font-size: 20px;
        line-height: 40px;
    }

    .image_opensource {
        background-image: url(/img/code-window-e67e93b7.jpg);
        width: 100%;
        height: 433px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_customers {
        padding-top: 120px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .main_customers h1 {
        text-align: center;
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 80px;
    }

    .content_customers {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .text_customers {
        width: 40%;
        font-size: 1.2rem;
        color: #544f77;
        margin-top: 70px;
    }

    .message_customers {
        border-left: 2px solid #ff907f;
        padding-left: 50px;
        line-height: 37px;
        font-family: 'Montserrat', sans-serif;
    }

    .text_customers:before {
        content: ' ';
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
        left: 44px;
        bottom: 15px;
        background-image: url(/img/quotes.PNG);
        background-repeat: no-repeat;
    }

    .quotes_customers {
        color: #a46799;
        font-style: italic;
        font-size: 1.06667rem;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 52px;
    }
    .wrapper_sponsors {
        width: 100%;
        background-color: #fff4f2;
    }

    .main_sponsors {
        width: 70%;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 80px;
    }


    .image_sponsors {
        width: 80%;
        margin: 0 auto;
        height: 200px;
        background-image: url(/img/logos-5769db59.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_solutions {
        padding-top: 112px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;

        text-align: center;
    }

    .main_solutions h1 {
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 100px;
    }

    .content_solutions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 50%;
    }

    .message {
        width: 45%;
        text-align: left;
        position: relative;
        top: 200px;
        height: 200px;
        line-height: 27px;

    }

    .message h2 {
        color: #544f77;
        font-weight: lighter;
        margin-bottom: 15px;
        font-size: 1.86667rem;
    }

    .message p {
        color: #a46799;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .image_solutions1 {
        height: 500px;
        background-image: url(/img/code-reviews-7f542a23.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

    }

    .button_solutions {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        background-color: #a46799;
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .button_solutions:hover {
        transition: all 0.2s ease-out;
        background-color: #ff907f;
        color: white;
    }

    .message_solution1 {
        left: 80px;
    }

    .message_solution2 {
        width: 35%;
        left: 10%;


    }

    .image_solutions2 {
        position: relative;
        left: 10%;
        height: 500px;
        background-image: url(/img/automation-0e83545c.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    .image_solutions3 {
        height: 500px;
        background-image: url(/img/jungle-of-data-e0d67980.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .message_solution3 {
        left: 80px;
    }

    .message_solution3 h2 {
        line-height: 40px;
    }

    .main_keep {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .main_keep h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 3.33333rem;
        font-weight: 400;
        text-align: center;
    }


    .button_keep a {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 16px 25px;
        line-height: 50px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        transition: all 0.2s ease-out;
    }

    .button_keep {
        padding-top: 40px;
        padding-bottom: 100px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .button_keep a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #a46799;
    }

    .content_keep {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .news_keep {
        width: 30%;
        background-color: white;
        padding: 40px 30px 10px 35px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .news_keep h2 {
        font-size: 1.73333rem;
        color: #a46799;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .lists_keep li,
    .lists_keep_twitter li {
        list-style-type: none;
        margin-bottom: 25px;
    }

    .lists_keep li a {
        color: #a46799;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep li a:hover {
        text-decoration: underline;
    }

    .lists_keep p {
        margin-top: 10px;
        font-size: 0.93333rem;
        color: #c6c5d2;
        font-weight: bold;
    }

    .logo_location_keep {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-image: url(/img/location.PNG);
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .text_keep {
        display: inline-block;
        width: 80%;
        margin-bottom: 10px;
    }

    .lists_keep_twitter p {
        color: #544f77;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep_twitter a {
        color: #c6c5d2;
        font-size: 0.93333rem;
    }

    .lists_keep_twitter a:hover {
        text-decoration: underline;
    }

    .main_footer {
        padding-top: 100px;
        padding-bottom: 100px;
        width: 90%;
        margin: 0 auto;
    }

    .content_footer {
        width: 100%;
        display: flex;
        font-family: 'Montserrat', sans-serif;
    }

    .content_footer > div {
        margin-right: 70px;
    }

    .info_footer1 {
        width: 20%;
        color: white;
    }

    .top_info_footer1 a {
        width: 200px;
        display: block;
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        margin: 20px 0px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .top_info_footer1 a:nth-child(2) {
        width: 150px;
    }

    .top_info_footer1 a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #945989;
    }

    .info_footer2 {
        width: 20%;
    }

    .info_footer2 ul li a,
    .info_footer3 ul li a,
    .info_footer4 ul li a {
        transition: all 0.2s ease-out;
        color: #ddc7d9;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_footer2 ul li,
    .info_footer3 ul li,
    .info_footer4 ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .info_footer2 h4,
    .info_footer3 h4,
    .info_footer4 h4 {
        color: white;
        margin-bottom: 20px;
    }

    .info_footer3 {
        width: 15%;
    }

    .info_footer4 {
        width: 15%;
    }

    .info_footer4 ul li:hover a,
    .info_footer3 ul li:hover a,
    .info_footer2 ul li:hover a {
        transition: all 0.2s ease-out;
        color: white;
    }

    .top_info_footer1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .bottom_info_footer1 p {
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom_info_footer1 a {
        color: #ff907f;
    }

    .bottom_info_footer1 a:hover {
        text-decoration: underline;
    }

    .bottom_info_footer1 {
        padding-top: 30px;
    }

    .logo_footer1 {
        margin-right: 10px;
        background-size: auto;
        width: 34px;
        height: 34px;
        background-position: center;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        transition: all 0.2s ease-out;
    }

    .logo_footer1:hover {
        transition: all 0.2s ease-out;
        background-color: #544f77;
    }

    .twitter_footer1 {
        background-image: url(/img/twitter.svg);
    }

    .youtube_footer1 {
        background-image: url(/img/youtube.svg);
    }

    .linkedin_footer1 {
        background-image: url(/img/lindken.svg);
    }

    .github_footer1 {
        background-image: url(/img/github.svg);
    }



}

@media screen and (min-width:1165px) {

    .nav {
        text-align: right;
        line-height: 53px;
        font-size: 0.86667rem;
        font-weight: bold;
        color: white;
        width: 80%;
        float: right;
        display: inline-block;
    }

    .main_content {
        position: relative;
        top: 100px;
        width: 70%;
        color: white;
        margin: 0 auto;
    }

    .left_content {
        text-align: center;
        width: 100%;
        display: block;
        height: 200px;
    }

    .left_content:before {
        display: none;
    }

    .left_content h1 {
        font-size: 4rem;
        font-weight: lighter;
    }

    .left_content h2 {

        margin-top: 20px;
        font-weight: lighter;
        line-height: 40px;
        font-size: 1.73333rem;
    }

    .right_content {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: 650px;
        background-image: url(/img/hero-illustration-dd98bdd1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    .message_opensource h1 {
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .message_opensource p {
        font-size: 1.46667rem;
        line-height: 40px;
    }

    .main_opensource {
        padding-top: 144px;
        padding-bottom: 144px;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
        display: flex;
    }

    .message_opensource {
        position: relative;
        top: 30px;
        text-align: left;
        color: white;
        width: 30%;
    }

    .message_opensource:before {
        content: ' ';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #ff907f;
    }

    .image_opensource {
        background-image: url(/img/code-window-e67e93b7.jpg);
        width: 46%;
        height: 433px;
        position: relative;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_customers {
        padding-top: 120px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .main_customers h1 {
        text-align: center;
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 80px;
    }

    .content_customers {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .text_customers {
        width: 40%;
        font-size: 1.2rem;
        color: #544f77;
        margin-top: 70px;


    }

    .message_customers {
        border-left: 2px solid #ff907f;
        padding-left: 50px;
        line-height: 37px;
        font-family: 'Montserrat', sans-serif;
    }

    .text_customers:before {
        content: ' ';
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
        left: 44px;
        bottom: 15px;
        background-image: url(/img/quotes.PNG);
        background-repeat: no-repeat;
    }



    .quotes_customers {
        color: #a46799;
        font-style: italic;
        font-size: 1.06667rem;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 52px;
    }

    .wrapper_sponsors {
        width: 100%;
        background-color: #fff4f2;
    }

    .main_sponsors {
        width: 70%;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 80px;
    }


    .image_sponsors {
        width: 80%;
        margin: 0 auto;
        height: 200px;
        background-image: url(/img/logos-5769db59.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_solutions {
        padding-top: 112px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;

        text-align: center;
    }

    .main_solutions h1 {
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 100px;
    }

    .content_solutions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 50%;

    }

    .message {
        width: 45%;
        text-align: left;
        position: relative;
        top: 200px;
        height: 200px;
        line-height: 27px;

    }

    .message h2 {
        color: #544f77;
        font-weight: lighter;
        margin-bottom: 15px;
        font-size: 1.86667rem;
    }

    .message p {
        color: #a46799;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .image_solutions1 {

        height: 500px;
        background-image: url(/img/code-reviews-7f542a23.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

    }

    .button_solutions {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        background-color: #a46799;
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .button_solutions:hover {
        transition: all 0.2s ease-out;
        background-color: #ff907f;
        color: white;
    }

    .message_solution1 {
        left: 80px;
    }

    .message_solution2 {
        width: 35%;
        left: 10%;


    }

    .image_solutions2 {
        position: relative;
        left: 10%;
        height: 500px;
        background-image: url(/img/automation-0e83545c.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    .image_solutions3 {
        height: 500px;
        background-image: url(/img/jungle-of-data-e0d67980.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .message_solution3 {
        left: 80px;
    }

    .message_solution3 h2 {
        line-height: 40px;
    }

    .main_keep {
        padding-top: 120px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;
    }

    .main_keep h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 3.33333rem;
        font-weight: 400;
        text-align: center;
    }


    .button_keep a {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 16px 25px;
        line-height: 50px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        transition: all 0.2s ease-out;
    }

    .button_keep {
        padding-top: 40px;
        padding-bottom: 100px;
        width: 50%;
        margin: 0 auto;
        text-align: center;

    }

    .button_keep a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #a46799;
    }

    .content_keep {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .news_keep {
        width: 25%;
        background-color: white;
        padding: 40px 30px 10px 35px;
        border-radius: 10px;
    }

    .news_keep h2 {
        font-size: 1.73333rem;
        color: #a46799;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .lists_keep li,
    .lists_keep_twitter li {
        list-style-type: none;
        margin-bottom: 25px;
    }

    .lists_keep li a {
        color: #a46799;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep li a:hover {
        text-decoration: underline;
    }

    .lists_keep p {
        margin-top: 10px;
        font-size: 0.93333rem;
        color: #c6c5d2;
        font-weight: bold;
    }

    .logo_location_keep {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-image: url(/img/location.PNG);
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .text_keep {
        display: inline-block;
        width: 80%;
        margin-bottom: 10px;
    }

    .lists_keep_twitter p {
        color: #544f77;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep_twitter a {
        color: #c6c5d2;
        font-size: 0.93333rem;
    }

    .lists_keep_twitter a:hover {
        text-decoration: underline;
    }

    .main_footer {
        padding-top: 100px;
        padding-bottom: 100px;
        width: 90%;
        margin: 0 auto;
    }

    .content_footer {
        width: 100%;
        display: flex;
        font-family: 'Montserrat', sans-serif;
    }

    .content_footer > div {
        margin-right: 70px;
    }

    .info_footer1 {
        width: 20%;
        color: white;
    }

    .top_info_footer1 a {
        width: 200px;
        display: block;
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        margin: 20px 0px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .top_info_footer1 a:nth-child(2) {
        width: 150px;
    }

    .top_info_footer1 a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #945989;
    }


    .info_footer2 {
        width: 20%;

    }

    .info_footer2 ul li a,
    .info_footer3 ul li a,
    .info_footer4 ul li a {
        transition: all 0.2s ease-out;
        color: #ddc7d9;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_footer2 ul li,
    .info_footer3 ul li,
    .info_footer4 ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .info_footer2 h4,
    .info_footer3 h4,
    .info_footer4 h4 {
        color: white;
        margin-bottom: 20px;
    }

    .info_footer3 {
        width: 15%;
    }

    .info_footer4 {
        width: 15%;
    }

    .info_footer4 ul li:hover a,
    .info_footer3 ul li:hover a,
    .info_footer2 ul li:hover a {
        transition: all 0.2s ease-out;
        color: white;
    }

    .top_info_footer1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .bottom_info_footer1 p {
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom_info_footer1 a {
        color: #ff907f;
    }

    .bottom_info_footer1 a:hover {
        text-decoration: underline;
    }

    .bottom_info_footer1 {
        padding-top: 30px;
    }

    .logo_footer1 {
        margin-right: 10px;
        background-size: auto;
        width: 34px;
        height: 34px;
        background-position: center;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        transition: all 0.2s ease-out;
    }

    .logo_footer1:hover {
        transition: all 0.2s ease-out;
        background-color: #544f77;
    }

    .twitter_footer1 {
        background-image: url(/img/twitter.svg);
    }

    .youtube_footer1 {
        background-image: url(/img/youtube.svg);
    }

    .linkedin_footer1 {
        background-image: url(/img/lindken.svg);
    }

    .github_footer1 {
        background-image: url(/img/github.svg);
    }



}


@media screen and (min-width:1340px) {
    .nav {
        text-align: right;
        line-height: 53px;
        font-size: 0.86667rem;
        font-weight: bold;
        color: white;
        width: 80%;
        float: right;
        display: inline-block;
    }

    .main_content {
        position: relative;
        top: 100px;
        width: 70%;
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .left_content {
        width: 37%;
        text-align: left;
        position: relative;
        top: 250px;
        height: 300px;
    }

    .left_content h1 {
        font-size: 4rem;
        font-weight: lighter;
    }

    .left_content h2 {
        margin-top: 20px;
        font-weight: lighter;
        line-height: 40px;
        font-size: 1.73333rem;
    }
    .left_content:before {
        content: ' ';
        display: block;
        position: relative;
        bottom: 40px;
        width: 100px;
        height: 2px;
        background-color: #ff907f;
    }

    .right_content {
        width: 55%;
        height: 750px;
        background-image: url(/img/hero-illustration-dd98bdd1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }

    .message_opensource h1 {
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .message_opensource p {
        font-size: 1.46667rem;
        line-height: 40px;
    }

    .main_opensource {
        padding-top: 144px;
        padding-bottom: 144px;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
        display: flex;
    }

    .message_opensource {
        position: relative;
        top: 30px;
        text-align: left;
        color: white;
        width: 30%;
    }
    .message_opensource:before {
        content: ' ';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #ff907f;
    }

    .image_opensource {
        background-image: url(/img/code-window-e67e93b7.jpg);
        width: 46%;
        height: 433px;
        position: relative;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main_customers {
        padding-top: 120px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .main_customers h1 {
        text-align: center;
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 80px;
    }

    .content_customers {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .text_customers {
        width: 40%;
        font-size: 1.2rem;
        color: #544f77;
        margin-top: 70px;
    }

    .message_customers {
        border-left: 2px solid #ff907f;
        padding-left: 50px;
        line-height: 37px;
        font-family: 'Montserrat', sans-serif;
    }

    .text_customers:before {
        content: ' ';
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
        left: 44px;
        bottom: 15px;
        background-image: url(/img/quotes.PNG);
        background-repeat: no-repeat;
    }



    .quotes_customers {
        color: #a46799;
        font-style: italic;
        font-size: 1.06667rem;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 52px;
    }
    .wrapper_sponsors {
        width: 100%;
        background-color: #fff4f2;
    }

    .main_sponsors {
        width: 70%;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 80px;
    }


    .image_sponsors {
        width: 80%;
        margin: 0 auto;
        height: 200px;
        background-image: url(/img/logos-5769db59.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .main_solutions {
        padding-top: 112px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .main_solutions h1 {
        color: #544f77;
        font-size: 3.33333rem;
        font-weight: lighter;
        margin-bottom: 100px;
    }

    .content_solutions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 50%;
    }

    .message {
        width: 45%;
        text-align: left;
        position: relative;
        top: 200px;
        height: 200px;
        line-height: 27px;

    }

    .message h2 {
        color: #544f77;
        font-weight: lighter;
        margin-bottom: 15px;
        font-size: 1.86667rem;
    }

    .message p {
        color: #a46799;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .image_solutions1 {

        height: 500px;
        background-image: url(/img/code-reviews-7f542a23.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

    }

    .button_solutions {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        background-color: #a46799;
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .button_solutions:hover {
        transition: all 0.2s ease-out;
        background-color: #ff907f;
        color: white;
    }

    .message_solution1 {
        left: 80px;
    }

    .message_solution2 {
        width: 35%;
        left: 10%;
    }

    .image_solutions2 {
        position: relative;
        left: 10%;
        height: 500px;
        background-image: url(/img/automation-0e83545c.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    .image_solutions3 {
        height: 500px;
        background-image: url(/img/jungle-of-data-e0d67980.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .message_solution3 {
        left: 80px;
    }

    .message_solution3 h2 {
        line-height: 40px;
    }
    .main_keep {
        padding-top: 120px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;
    }

    .main_keep h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 3.33333rem;
        font-weight: 400;
        text-align: center;
    }


    .button_keep a {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 16px 25px;
        line-height: 50px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        transition: all 0.2s ease-out;
    }

    .button_keep {
        padding-top: 40px;
        padding-bottom: 100px;
        width: 50%;
        margin: 0 auto;
        text-align: center;

    }

    .button_keep a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #a46799;
    }

    .content_keep {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .news_keep {
        width: 25%;
        background-color: white;
        padding: 40px 30px 10px 35px;
        border-radius: 10px;
    }

    .news_keep h2 {
        font-size: 1.73333rem;
        color: #a46799;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .lists_keep li,
    .lists_keep_twitter li {
        list-style-type: none;
        margin-bottom: 25px;
    }

    .lists_keep li a {
        color: #a46799;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep li a:hover {
        text-decoration: underline;
    }

    .lists_keep p {
        margin-top: 10px;
        font-size: 0.93333rem;
        color: #c6c5d2;
        font-weight: bold;
    }

    .logo_location_keep {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-image: url(/img/location.PNG);
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .text_keep {
        display: inline-block;
        width: 80%;
        margin-bottom: 10px;
    }

    .lists_keep_twitter p {
        color: #544f77;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .lists_keep_twitter a {
        color: #c6c5d2;
        font-size: 0.93333rem;
    }

    .lists_keep_twitter a:hover {
        text-decoration: underline;
    }

    .main_footer {
        padding-top: 100px;
        padding-bottom: 100px;
        width: 70%;
        margin: 0 auto;
    }

    .content_footer {
        width: 100%;
        display: flex;
        font-family: 'Montserrat', sans-serif;
    }

    .content_footer > div {
        margin-right: 70px;
    }

    .info_footer1 {
        width: 20%;
        color: white;
    }

    .top_info_footer1 a {
        width: 200px;
        display: block;
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        margin: 20px 0px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .top_info_footer1 a:nth-child(2) {
        width: 150px;
    }

    .top_info_footer1 a:hover {
        transition: all 0.2s ease-out;
        background-color: white;
        color: #945989;
    }


    .info_footer2 {
        width: 20%;

    }

    .info_footer2 ul li a,
    .info_footer3 ul li a,
    .info_footer4 ul li a {
        transition: all 0.2s ease-out;
        color: #ddc7d9;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .info_footer2 ul li,
    .info_footer3 ul li,
    .info_footer4 ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .info_footer2 h4,
    .info_footer3 h4,
    .info_footer4 h4 {
        color: white;
        margin-bottom: 20px;
    }

    .info_footer3 {
        width: 15%;
    }

    .info_footer4 {
        width: 15%;
    }

    .info_footer4 ul li:hover a,
    .info_footer3 ul li:hover a,
    .info_footer2 ul li:hover a {
        transition: all 0.2s ease-out;
        color: white;
    }

    .top_info_footer1 {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .bottom_info_footer1 p {
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom_info_footer1 a {
        color: #ff907f;
    }

    .bottom_info_footer1 a:hover {
        text-decoration: underline;
    }

    .bottom_info_footer1 {
        padding-top: 30px;
    }

    .logo_footer1 {
        margin-right: 10px;
        background-size: auto;
        width: 34px;
        height: 34px;
        background-position: center;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        transition: all 0.2s ease-out;
    }

    .logo_footer1:hover {
        transition: all 0.2s ease-out;
        background-color: #544f77;
    }

    .twitter_footer1 {
        background-image: url(/img/twitter.svg);
    }

    .youtube_footer1 {
        background-image: url(/img/youtube.svg);
    }

    .linkedin_footer1 {
        background-image: url(/img/lindken.svg);
    }

    .github_footer1 {
        background-image: url(/img/github.svg);
    }

}
